appnope
bleach
decorator
entrypoints
flake8
html5lib
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
MarkupSafe
mccabe
mistune
nbconvert
nbformat
notebook
numpy
pandas
pandocfilters
pexpect
pickleshare
prompt-toolkit
ptyprocess
py
pycodestyle
pyflakes
Pygments
pytest
python-dateutil
pytz
pyzmq
qtconsole
simplegeneric
six
terminado
testpath
tornado
traitlets
wcwidth
webencodings
widgetsnbextension